section {
  margin-top: 24px;
}

nav {
  background: var(--charcoal);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button.link {
  padding: 0px;
}

main {
  max-width: 35ch;
  margin: auto;
}

form {
  display: grid;
  gap: 24px;
  margin-top: 24px;
}

table {
  font-size: 14px;
  font-family: monospace;
  position: relative;
  width: 100%;
  margin-top: 24px;
}

thead th {
  text-align: left;
}

th,
td {
  padding: 4px 8px;
}

th {
  background: var(--charcoal);
}

td {
  border: 1px solid var(--charcoal);
}
